body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;

	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

a {
	text-decoration: none;
}

a.disabled {
pointer-events: none; /* делаем элемент неактивным*/
cursor: default; 			/*  курсор в виде стрелки */
color: #888;					/* цвет текста серый */
}
 img {
 	max-width: 100%;
 	height: auto;	
 }

.button {
	display: inline-block;
	margin-left: 16px;
	padding: 13px 14px 19px;

	font-weight: 500;
	line-height: 18px;

	text-align: center;
	color: #fff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #FB565A;
	border-radius: 4px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;

	/*пробелы не учитываются*/
	white-space: nowrap; 

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button:hover {background-color: #E74246;}
.button:active {
	background-color: #D7373B;
	color: #E37375;
}

.button.disabled,
.button:disabled {
	cursor: default;
	opacity: 0.4;
	color: #EEEEEE;
}

.main-header {
	padding-top: 50px;
}

.main-header,
.slider {
	background-color: #EFEEEF;
}


.main-header-logo:hover {opacity: 0.8;}
.main-header-logo:active {opacity: 0.3;}

.site-navigation {
	display: flex;
	justify-content: space-between;

	padding: 10px 0 0;

	min-width: 440px;
	list-style: none;
}

.site-navigation a {
	text-transform: uppercase;
	color: #000;
}

.basket {
	padding: 27px 0px 0px;
}

.basket a {
	text-transform: uppercase;
	color: #000;
}

.site-navigation a:hover,
.basket a:hover {
	color: #FB565A;
}

.site-navigation a:active,
.basket a:active {
	opacity: 0.3;
}

/* ----------------------------------- */
	/* СТИЛИ ДЛЯ МЕЙНА*/

.slider-content-wrapper {
	max-width: 540px;
}

.slider-content-wrapper h3 {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;

	margin: 0px 0px 30px;
	padding-top: 65px;
}

.slider-content-wrapper p {
	margin-bottom: 40px;
}

.slider-item-button {
	width: 240px;
	height: 50px;
	box-sizing: border-box;
	margin: 0;
}

/* ---- СЕТОЧНЫЕ СТИЛИ ---- */

/* фикс ширина и отцентрирован по горизонтали */
.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
}

.slider-1 {
	height: 415px;

	background-image: url(img/slide1.png);
	background-repeat: no-repeat;
	background-position: 97% -16px;
}